<%- include('partials/header'); -%>

<header>
  <div class="row">

    <div class="headings">
      <h2 class="main-head">CALENDAR-TASK-BY-IBTISAM</h2>
      <img src="https://cdn.dribbble.com/users/6554494/screenshots/14937796/media/678312aa763e54740bfb2cb7186a12bb.gif" alt="" srcset="" class="img-main">
      <a href="/events/calendar" class="btn">View Events</a>
    </div>
  </div>
  
</header>




<%- include('partials/footer'); -%>